<ion-header>
  <ion-toolbar>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <div>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <ion-list>
          <ion-item *ngFor="let personaje of personajes" [routerLink]="['/perfil/'+ personaje.id]">
            <ion-label>{{personaje.name}}</ion-label>
            <ion-avatar slot="start">
              <img src="{{personaje.image}}" alt="">
            </ion-avatar>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
 </div>
 
 <ion-footer>
   <ion-toolbar>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="personajes">
          <ion-icon name="person-circle-outline"></ion-icon>
          <ion-label>Personajes</ion-label>
          <ion-badge>20</ion-badge>
        </ion-tab-button>
    
        <ion-tab-button tab="personal">
          <ion-icon name="person-circle"></ion-icon>
          <ion-label>Personas</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="map">
          <ion-icon name="map"></ion-icon>
          <ion-label>Map</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="about">
          <ion-icon name="information-circle"></ion-icon>
          <ion-label>About</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
   </ion-toolbar>
 </ion-footer>

</ion-content>



